<h1>Message</h1>
<p>Content: <%= @message.content %></p>
<p>Author: <%= @message.user.username %></p>
<p>Tag: <%= @message.tag.name %></p>

<h1>Message translated to piou piou</h1>
<p>Content: <pre><%= @translated_message %></pre></p>
